.container {
    display: inline;
}

.map-box {
    width: 45%;
    display: inline-block;
    background: lightcyan;
}

.dashboard {
    margin-left: 2rem;
    width: 45%;
    display: inline-block;
    position:absolute;
    font-size: 2rem;
    font-family: 'Courier New';
}

.state-header {
    display:inline-block;
    position: relative;
}
.selected {
    fill: orange;
    color: orange;
}

.mouse-out {
    stroke-width: 0.5px;
    stroke: rgba(13, 106, 106, 0.5);
}